<div class='list-group'>
    <div class='list-group-item'>log_details_simuresource_edit.html.twig
        {% if log.details.simuparamvalue1 is defined %}
            <h4>{{ 'log_resource-cpasimusante_simuresource-simuresource_edit_title'|trans({},'log') }}</h4>
            <dl class="dl-horizontal">
                <dt>{{ 'manualState'|trans({}, 'log') }}:</dt>
                <dd>{{ log.details.simuparamvalue1|trans({},'resource') }}</dd>
            </dl>Log
        {% endif %}
    </div>
</div>